<header id="malmo-masthead" role="banner" class="mf-v4">
  <div class="nav-logo">
       <a href="https://cityofmalmo.omniacloud.net/"
          title="Till startsidan malmo.se">
           <img class="logo"
                src="<%= APP_CONFIG['asset_host']%>external/logo-x2-transp.png"
                alt="Malmö stads logotyp">
       </a>
  </div>
</header>
